* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: white;
    padding: 2em 2em;
    border-radius: 15px;
    width: 80vw;
    max-width: 25.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.5em;
    width: 100%;
}

#search-btn {
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 0.9em;
    width: 4.5em;
    cursor: pointer;
    padding: 0.2em;
    font-family: 'Poppins', sans-serif;
    max-height: 2em;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid darkorange;
    padding: 0.2em;
    font-family: 'Poppins', sans-serif;
    outline: none;
    max-height: 2em;
}

#result {
    width: 100%;
    margin-top: 1.25em;
    text-align: center;
}

.flag-img {
    width: 45%;
    max-width: 5em;
    margin: 1.8em auto 1.2em auto;
}

h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
}

span {
    color: #5d6274;
}

h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}
